!.gitkeep
*.pyc
*.log
*.sql
*~
*~.nib
*.save
*.bak
*.sqp
*.swp
.idea
._*
.project
.settings
.buildpath
.htaccess
.git
.sass-cache
.terraform
$RECYCLE.BIN
.[Tt]rash*
.[Ss]potlight*
.[Dd][Ss]_[Ss][Tt][Oo][Rr][Ee]*
[Rr]obot*.txt
[Tt]humbs.db
[Dd]esktop.ini
wp-content/plugins/hello.php
style.css.map
db.php
sitemap.xml*

debug.php
wp-config*.php
object-cache.php
ewww/
upgrade/
uploads/
backups/
node_modules/
node-modules/
bower_components/
__pycache__/
docs/build/
