autodocsumm>=0.1.13
beautifulsoup4>=4.5.3
boto3>=1.4.4
boto>=2.46.1
chardet>=2.3.0
corextopic>=1.0.6
cython>=0.25.2
future>=0.18.2
gensim>=3.8.1
hdbscan>=0.8.18
lxml>=4.4.1
matplotlib>=3.1.1
mca>=1.0.3
nilsimsa>=0.3.8
nltk>=3.2.2
numpy>=1.16.0
pandas>=0.25.0
pewtils@git+ssh://github.com/pewresearch/pewtils_dev#egg=pewtils
# TODO: when pushing to public, switch this to: pewtils@git+https://pewresearch/pewtils#egg=pewtils
pycparser>=2.20
python-dateutil>=2.6.0
python-levenshtein>=0.12.0
pytz>=2016.10
rapidfuzz>=0.7.12
requests>=2.13.0
scandir>=1.5
scipy>=1.4.0
seaborn>=0.9.0
simplejson>=3.10.0
six>=1.14.0
spacy>=2.2.3
sphinx_rtd_theme>=0.4.3
statsmodels>=0.10.1
stopit>=1.1.2
tldextract>=2.2.1
tqdm>=4.11.2
unicode>=2.7
unidecode>=0.4.20
xlrd>=1.2.0
zipcodes>=1.1.2
